<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

    <th:block layout:fragment="css">
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/board/faqList.js}"></script>
        <script>
        </script>
    </th:block>

    <div class="member-container"  layout:fragment="contents">
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <div class="content" >
            <div class="sub-title-box">
                <h2>자주묻는 질문</h2>
                <p>FAQ</p>
                <hr>
            </div>

            <div class="list-search-wrap a-r mt-80">
                <label>Search</label>
                <div class="custom-select search-select" style="width: 150px;">
                    <select ref="questionType" v-model="cond.questionType" >
                        <option value="">전체</option>
                        <option v-for="option in questionTypeList" v-bind:value="option.name">
                            {{option.desc}}
                        </option>
                    </select>
                </div>
                <input type="text" v-model="cond.keyword" @keyup="onKeyup" placeholder="검색어를 입력하세요(제목)">
                <a href="#" class="com-btn btn-hosp-search" v-on:click="onclickSearch">SEARCH</a>
            </div>

            <table class="table-list mt-50">
                <colgroup>
                    <col style="width:5%" />
                    <col style="width:20%" />
                    <col/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">문의유형</th>
                    <th scope="col" class="a-l pl-20">제목</th>
                </tr>
                </thead>
                <tbody v-if="faqList.length == 0">
                <tr>
                    <td colspan="3" style="text-align: center">
                        데이터가 없습니다.
                    </td>
                </tr>
                </tbody>

                <tbody v-if="faqList.length > 0">
                    <tr v-for="(item, idx) in faqList" class="tr-link">
                        <td>{{item.faqSeq}}</td>
                        <td>{{item.questionType.desc}}</td>
                        <td class="a-l"><a href="javascript:void(0);" v-on:click="onclickView(item.faqSeq)">{{item.title}}</a></td>
                    </tr>
                </tbody>
                </table>

            <!-- 페이징 -->
            <div class="btn-box mt-40 a-r">
                <div class="pagination fl-l">
                    <a href="#" v-on:click="onclickPage(pageInfo.prev)"><span class="next-bar"></span><span class="next"></span></a>
                    <a href="#" v-for="(page, idx) in pageInfo.pages" v-on:click="onclickPage(page)" v-bind:class="{active:pageInfo.curr==page}">
                        {{page}}
                    </a>
                    <a href="#" v-on:click="onclickPage(pageInfo.next)"><span class="prev-bar"></span><span class="prev"></span></a>
                </div>
                <a v-if="userInfo.userRole === 'ADMIN'" href="#" class="com-btn btn-w-332" v-on:click="onclickReg">등록</a>
            </div>

        </div>
        </script>
    </div>
</html>