<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/board/inquiryReply.js}"></script>
    <script>
        const inquirySeq = "[[${param.inquirySeq}]]";
    </script>
</th:block>

<div class="member-container" layout:fragment="contents">
    <div id="maincontentswrap" >
        <maincontents ref="maincontents"></maincontents>
    </div>

    <script type="text/x-template" id="main-template" >
        <div class="content" >
            <div class="sub-title-box">
                <h2>문의하기</h2>
                <p>inquiry</p>
                <hr>
            </div>

            <table class="table-list">
                <colgroup>
                    <col style="width:4%" />
                    <col style="width:12%" />
                    <col/>
                    <col style="width:10%" />
                    <col style="width:10%" />
                    <col style="width:10%" />
                    <col style="width:10%" />
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">문의유형</th>
                    <th scope="col" class="a-l pl-20">제목</th>
                    <th scope="col">공개</th>
                    <th scope="col">답변여부</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{inquiry.inquirySeq}}</td>
                    <td>{{inquiry.inquiryType.desc}}</td>
                    <td class="a-l t-w700 t-20">{{inquiry.title}}</td>
                    <td>{{inquiry.publicYn}}</td>
                    <td>{{inquiry.answerYn}}</td>
                    <td>{{inquiry.userName}}</td>
                    <td v-if="inquiry.createdDate === null" align="center">-</td>
                    <td v-else>{{inquiry.createdDate.substr(0,10)}}</td>
                </tr>
                <tr>
                    <td colspan="7" class="table-td-cont">
                        <textarea class="write-textarea" ref="contents" v-bind:value="inquiry.contents" readonly></textarea>
                        <!-- 첨부파일 영역 -->
                        <ul v-if="inquiry.inquiryFiles.length > 0">
                            <span class="join-input-group w-100">
                                <label>첨부파일</label>
                            </span>
                        </ul>
                        <ul class="join-cont-box" v-if="inquiry.inquiryFiles.length > 0" style="overflow:auto;height:100px;width:100%;background:#fff;">
                            <li v-for="(item, idx) in inquiry.inquiryFiles">
                                <label><a href="#" v-on:click="onclickDownload(item)">{{item.fileName}}</a></label>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table-list">
                <tbody>
                <tr>
                    <td colspan="7" class="table-td-cont">
                        <textarea class="write-textarea"  ref="contents" v-model="replyInfo.contents" placeholder="답변내용을 입력해주세요"></textarea>
                       <!-- 첨부파일 영역 -->
                        <ul>
                            <li>
                            <span class="join-input-group w-744">
                            <label>첨부파일</label>
                            <p v-for="(item, idx) in replyFiles" >
                                <a href="#" class="btn-s" v-on:click="onClickOrgFileDelete(item.fileSeq)">삭제</a>
                                <input type="text" v-bind:value="item.fileName" class="mr-30 ml-30" style="width:80%;height:30px;display: inline-block;vertical-align:middle;" readonly>
                            </p>
                            <p v-for="idx in (maxFileCnt - replyFiles.length)" >
                                <a href="#" class="btn-s" v-on:click="onClickFileDelete(idx)">삭제</a>
                                <input type="file" v-bind:id="['uploadFile' + idx]" ref="['uploadFile' + idx]" name="uploadFile" style="display: none;" @change="onChange($event, idx)">
                                <input type="text" v-bind:id="['uploadText' + idx]" class="mr-30 ml-30" style="width:80%;height:30px;display: inline-block;vertical-align:middle;" readonly>
                                <a href="#" class="btn-s" v-on:click="document.getElementById('uploadFile' + idx).click();">파일찾기</a>
                            </p>
                        </span>
                            </li>
                        </ul>


                    </td>
                </tr>
                </tbody>
            </table>


            <div v-if="isAdmin" class="btn-box a-r mt-80">
                <a href="#" class="com-btn btn-line-bl btn-w-208" v-on:click="onclickCancel">취소</a>
                <a href="#" class="com-btn btn-w-208 ml-10" v-on:click="onclickSave">저장</a>
            </div>


        </div>

    </script>
</div>
</html>