<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

    <th:block layout:fragment="css">
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/board/inquiryView.js}"></script>
        <script>
            const inquirySeq = "[[${param.inquirySeq}]]";
        </script>
    </th:block>

    <div class="member-container" layout:fragment="contents">
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <div class="content" >
            <div class="sub-title-box">
                <h2>문의하기</h2>
                <p>inquiry</p>
                <hr>
            </div>

            <table class="table-list mt-60">
                <colgroup>
                    <col style="width:4%" />
                    <col style="width:12%" />
                    <col/>
                    <col style="width:10%" />
                    <col style="width:10%" />
                    <col style="width:10%" />
                    <col style="width:10%" />
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">문의유형</th>
                    <th scope="col" class="a-l pl-20">제목</th>
                    <th scope="col">공개</th>
                    <th scope="col">답변여부</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{inquiry.inquirySeq}}</td>
                    <td>{{inquiry.inquiryType.desc}}</td>
                    <td class="a-l t-w700 t-20">{{inquiry.title}}</td>
                    <td>{{inquiry.publicYn}}</td>
                    <td>{{inquiry.answerYn}}</td>
                    <td>{{inquiry.userName}}</td>
                    <td v-if="inquiry.createdDate === null" align="center">-</td>
                    <td v-else>{{inquiry.createdDate.substr(0,10)}}</td>
                </tr>
                <tr >
                    <td colspan="7" class="table-td-cont">
                        <span class="join-input-group w-100">
                            <label>문의내용</label>
                        </span>
                        <textarea class="write-textarea" ref="contents" v-bind:value="inquiry.contents" readonly></textarea>
                        <!-- 첨부파일 -->
                        <ul v-if="inquiry.inquiryFiles.length > 0">
                            <span class="join-input-group w-100">
<!--                                <label>첨부파일 <a href="#" v-on:click="onclickDownloadAll(inquiry.inquiryFiles)">전체다운로드</a></label>-->
                                <label>첨부파일</label>
                            </span>
                        </ul>
                        <ul class="join-cont-box" v-if="inquiry.inquiryFiles.length > 0" style="overflow:auto;height:100px;width:100%;background:#fff;">
                            <li v-for="(item, idx) in inquiry.inquiryFiles">
                                <label><a href="#" v-on:click="onclickDownload(item)">{{item.fileName}}</a></label>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
                </table>

            <table class="table-list"  v-if="inquiry.answerYn === 'Y'">
                <tbody>
                    <tr>
                        <td colspan="7" class="table-td-cont">
                            <span class="join-input-group w-100">
                                <label>답변내용</label>
                            </span>
                            <textarea class="write-textarea"  v-bind:value="replyInfo.contents" readonly></textarea>
                            <!-- 첨부파일 -->
                            <ul v-if="replyInfo.inquiryFiles.length > 0">
                            <span class="join-input-group w-100">
                                <label>첨부파일</label>
                            </span>
                            </ul>
                            <ul class="join-cont-box" v-if="replyInfo.inquiryFiles.length > 0" style="overflow:auto;height:100px;width:100%;background:#fff;">
                                <li v-for="(item, idx) in replyInfo.inquiryFiles">
                                    <label><a href="#" v-on:click="onclickDownload(item)">{{item.fileName}}</a></label>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btn-box a-r mt-80">
                <a href="#" class="com-btn btn-line-bl btn-w-208" v-on:click="onclickList">목록</a>
                <a href="#" v-if="inquiry.createdBy === userInfo.userSeq" class="com-btn btn-w-208 ml-10" v-on:click="onclickMod">수정</a>
                <a href="#" v-if="inquiry.createdBy === userInfo.userSeq" class="com-btn btn-w-208 ml-10" v-on:click="onclickDel">삭제</a>
                <a href="#" v-if="isAdmin && inquiry.answerYn === 'N'" class="com-btn btn-w-208 ml-10" v-on:click="onclickReplyReg">답변등록</a>
                <a href="#" v-if="isAdmin && inquiry.answerYn === 'Y'" class="com-btn btn-w-208 ml-10" v-on:click="onclickReplyMod">답변수정</a>
                <a href="#" v-if="isAdmin && inquiry.answerYn === 'Y'" class="com-btn btn-w-208 ml-10" v-on:click="onclickReplyDel">답변삭제</a>
            </div>


        </div>

        </script>
    </div>
</html>