<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

    <th:block layout:fragment="css">
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/board/noticeList.js}"></script>
        <script>
        </script>
    </th:block>

    <div class="member-container"  layout:fragment="contents">
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <div class="content" >
            <div class="sub-title-box">
                <h2>공지사항</h2>
                <p>Notice</p>
                <hr>
            </div>

            <div class="list-search-wrap a-r mt-80">
                <label>Search</label>
                <input type="text" v-model="cond.keyword" @keyup="onKeyup" style="border:0px;" placeholder="검색어를 입력하세요">
                <a href="#" class="com-btn btn-hosp-search" v-on:click="onclickSearch">SEARCH</a>
            </div>

            <table class="table-list mt-50">
                <colgroup>
                    <col style="width:5%" />
                    <col/>
                    <col style="width:15%" />
                    <col style="width:10%" />
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col" class="a-l pl-20">제목</th>
                    <th scope="col">게시일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody v-if="noticeList.length == 0">
                <tr>
                    <td colspan="4" style="text-align: center">
                        데이터가 없습니다.
                    </td>
                </tr>
                </tbody>

                <tbody v-if="noticeList.length > 0">
                    <tr v-for="(item, idx) in noticeList" class="tr-link">
<!--                        <td>{{pageInfo.total - ((pageInfo.curr-1)*cond.size) -idx}},{{item.noticeSeq}},{{item.importantYn}}</td>-->
                        <td v-if="item.importantYn === 'Y'" class="t-red">중요</td>
                        <td v-else>{{item.noticeSeq}}</td>
                        <td class="a-l"><a href="javascript:void(0);" v-on:click="onclickView(item.noticeSeq)">{{item.title}}</a></td>
                        <td>{{replaceDate(item.createdDate)}}</td>
                        <td>{{item.inqCount}}</td>
                    </tr>
                </tbody>
                </table>

            <!-- 페이징 -->
            <div class="btn-box mt-40">
                <div class="pagination fl-l">
                    <a href="#" v-on:click="onclickPage(pageInfo.prev)"><span class="next-bar"></span><span class="next"></span></a>
                    <a href="#" v-for="(page, idx) in pageInfo.pages" v-on:click="onclickPage(page)" v-bind:class="{active:pageInfo.curr==page}">
                        {{page}}
                    </a>
                    <a href="#" v-on:click="onclickPage(pageInfo.next)"><span class="prev-bar"></span><span class="prev"></span></a>
                </div>
                <a href="#" v-if="userInfo.userRole === 'ADMIN'" class="com-btn btn-w-332 fl-r" v-on:click="onclickReg">등록</a>
            </div>

        </div>
        </script>
    </div>
</html>