<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/emptyLayout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/user/join.js}"></script>
    </th:block>


    <div layout:fragment="contents">
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <div class="join-wrap">
            <div class="join-tab">
                <ul style="list-style: none;">
                    <li> STEP01 약관 동의 </li>
                    <li> STEP02 회원 정보 입력</li>
                    <li class="active"> STEP03 가입 완료</li>
                </ul>
            </div>

            <div class="join-agree">
                <div class="join-agree-context">
                    <p>회원가입이 완료되었습니다.</p>
                </div>
            </div>

            <div class="btn-wrap">
                <input type="button" @click="onclickBack();" value="확인">
            </div>

        </div>

        </script>

    </div>

</html>