<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/user/login.css}" />
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/user/login.js}"></script>
    </th:block>

    <div layout:fragment="contents">
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <div class="wrap" @keyup="onkeyupForm">
            <div class="line">
                <div><input type="email" v-model="login.email" placeholder="E-mail" autocomplete="off"></div>
            </div>
            <div class="line">
                <div><input type="password" v-model="login.password" placeholder="Password" autocomplete="off"></div>
            </div>
            <div class="line">{{messages}}</div>
            <div class="line">
                <div class="login-wrap">
                    <div class="btn login" @click="onclickLogin();">
                        LOGIN
                    </div>
                </div>
            </div>
        </div>
        </script>

        <script>
        </script>
    </div>
</html>