<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mypageLayout">

    <th:block layout:fragment="css">

    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/user/myMember.js}"></script>

    </th:block>

    <div class="mypage-container" layout:fragment="contents">
        <div id="maincontentswrap">
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
            <div class="content">
                <div class="mypage-content mt-40">
                    <h3>회원목록</h3>
                    <div class="list-search-wrap a-r mt-20" style="padding: 32px 10px;">
                        <div class="select-group" style="width: 200px;">
                        <span><label style="top: 0px;left:0px;">회원구분</label></span>
                        <span>
                            <div class="custom-select search-select">
                                <select id="userType" data-value="" v-model="search.userType" onchange="selectChange(id)">
                                    <option value="">전체</option>
                                    <option v-for="option in userTypeCdList" v-bind:value="option.name">
                                        {{option.desc}}
                                    </option>
                                </select>
                            </div>
                        </span>
                        </div>
                        <!-- agency 전체 콤보 -->
                        <div v-show="search.userType === '' || search.userType === 'ADMIN'" class="select-group" style="width: 250px;">
                            <span><label style="top: 0px;left:5px;">기관</label></span>
                            <span>
                            <div class="custom-select search-select" style="width:200px;">
                                <select id="agency"  data-value="" v-model="search.agencySeq">
                                    <option value="">전체</option>
                                    <option v-for="option in agencyList" v-bind:value="option.agencySeq">
                                        {{option.agencyName}}
                                    </option>
                                </select>
                            </div>
                                </span>
                        </div>
                        <!-- 병원 콤보 -->
                        <div v-show="search.userType === 'HOSP'" class="select-group" style="width: 250px;">
                            <span><label style="top: 0px;left:5px;">기관</label></span>
                            <span>
                            <div class="custom-select search-select" style="width:200px;">
                                <select  id="hospital" data-value="" v-model="search.agencySeq">
                                    <option value="">병원 전체</option>
                                    <option v-for="option in hospList" v-bind:value="option.agencySeq">
                                        {{option.agencyName}}
                                    </option>
                                </select>
                            </div>
                                </span>
                        </div>
                        <!-- 기업 콤보 -->
                        <div v-show="search.userType === 'COMP'" class="select-group" style="width: 250px;">
                            <span><label style="top: 0px;left:5px;">기관</label></span>
                            <span>
                                <div  class="custom-select search-select" style="width:200px;">
                                <select  id="company" data-value="" v-model="search.agencySeq">
                                    <option value="">기업 전체</option>
                                    <option v-for="option in compList" v-bind:value="option.agencySeq">
                                        {{option.agencyName}}
                                    </option>
                                </select>
                                </div>
                            </span>
                        </div>
                        <!-- 질환 콤보 -->
                        <div class="select-group" style="width: 200px;">
                            <span><label style="top: 0px;left:5px;">질병</label></span>
                            <span>
                                <div class="custom-select search-select"  style="width:150px;" >
                                <select id="disease" data-value="" v-model="search.disease" >
                                    <option value="">전체</option>
                                    <option v-for="option in diseaseCdList" v-bind:value="option.name">{{option.desc}}</option>
                                </select>
                                </div>
                            </span>
                        </div>
                        <div class="select-group" style="width: 200px;">
                            <span><label style="top: 0px;left:5px;">처리상태</label></span>
                            <span>
                                <div class="custom-select search-select">
                                    <select id="joinStat" data-value="" v-model="search.joinStat">
                                        <option value="">전체</option>
                                        <option v-for="option in joinStatCode" v-bind:value="option.name">
                                            {{option.desc}}
                                        </option>
                                    </select>
                                </div>
                            </span>
                        </div>
                        <input type="text" v-model="search.userName" @keyup="onKeyup" style="width: 200px;border: 0px; " placeholder="회원명을 입력하세요">
                        <a href="javascript:;" class="com-btn btn-hosp-search" @click="onclickSearch">SEARCH</a>
                    </div>
                    <table class="table-list mt-50">
                        <colgroup>
                            <col style="width:5%;" />
                            <col style="width:8%;"/>
                            <col style="width:10%;"/>
                            <col style="width:10%;"/>
                            <col style="width:10%;"/>
                            <col style="width:12%;"/>
                            <col style="width:10%;"/>
                            <col style="width:8%;"/>
                            <col style="width:10%;"/>
                            <col style="width:8%;"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">신청번호</th>
                            <th scope="col">이름</th>
                            <th scope="col">회원구분</th>
                            <th scope="col">기관명</th>
                            <th scope="col">질병명</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">이메일</th>
                            <th scope="col">가입처리상태</th>
                            <th scope="col">신청일자</th>
                            <th scope="col">처리일자</th>
                        </tr>
                        </thead>
                        <tbody v-if="list.length == 0">
                        <tr class="tr-link" >
                            <td colspan="10" class="a-c">데이타가 없습니다.</td>
                        </tr>
                        </tbody>
                        <tbody v-else>
                        <tr class="tr-link" v-for="(item, idx) in list">
                            <td>{{item.userSeq}}</td>
                            <td class="a-c"><a href="javascript:void(0);" v-on:click="onclickDetail(item.userSeq);">{{item.userName}}</a></td>
                            <td class="a-c">{{item.userRole}}</td>
                            <td class="a-c">{{item.agencyInfo.agencyName}}</td>
                            <td class="a-c">
                                <span v-if="item.diseaseCode === null">-</span>
                                <span v-else>{{item.diseaseCode.desc}}</span>
                            </td>
                            <td class="a-c">{{item.userPhoneNumber}}</td>
                            <td class="a-c">{{item.userEmail}}</td>
                            <td class="a-c">{{item.joinStatCode.desc}}</td>
<!--                            <td class="a-c">{{item.createdDate}}</td>-->
                            <td class="a-c">{{replaceDate(item.createdDate)}}</td>
                            <td class="a-c">{{replaceDate(item.modifiedDate)}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 페이징 -->
                    <div class="btn-box mt-40">
                        <div class="pagination fl-l">
                            <a href="javascript:;" v-on:click="onclickPage(pageInfo.prev)" ><span class="next-bar"></span><span class="next"></span></a>
                            <a href="javascript:;" v-for="(page, idx) in pageInfo.pages" v-on:click="onclickPage(page)" v-bind:class="{active:pageInfo.curr==page}">{{page}}</a>
                            <a href="javascript:;" v-on:click="onclickPage(pageInfo.next)"><span class="prev-bar"></span><span class="prev"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    </div>
</html>