<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mypageLayout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/storage/storage.css}" />

    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/user/myStorageList.js}"></script>
        <script>
            const reqStorageStatCode = "[[${param.reqStorageStatCode}]]";
        </script>
    </th:block>

    <div layout:fragment="contents">

        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <div class="storage-contents-wrap" >

            <div class="storage-search-wrap">
                <div class="line">
                    <div class="cond">
                        <div class="content">
                            <select v-model="reqStoreStatCd">
                                <option value="">전체</option>
                                <option v-for="option in reqStoreStatCdList" v-bind:value="option.name">
                                    {{option.desc}}
                                </option>
                            </select>
                            <input type="text" v-model="cond.dataName" @keyup="onKeyup" placeholder="데이터명">
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <button v-on:click="onclickSearch">검색</button>
                    </div>
                </div>
            </div>
            <div class="storage-content">
                <table class="result-table">
                    <thead>
                    <tr>
                        <th>질환</th>
                        <th>데이터명</th>
                        <th>제공병원</th>
                        <th>연구책임자</th>
                        <th>상태</th>
                        <th>신청일자</th>
                        <th>처리일자</th>
                    </tr>
                    </thead>
                    <tbody v-if="reqStorageList.length == 0">
                    <tr>
                        <td colspan="7" align="center">
                            no data.
                        </td>
                    </tr>
                    </tbody>

                    <tbody v-if="reqStorageList.length > 0">
                    <tr v-for="(storage, idx) in reqStorageList">
                        <td v-on:click="onclickReq(storage.reqStorageId)"><span class="cusor">{{storage.diseaseCode.desc}}</span></td>
                        <td v-on:click="onclickReq(storage.reqStorageId)"><span class="cusor">{{storage.dataName}}</span></td>
                        <td v-on:click="onclickReq(storage.reqStorageId)"><span class="cusor">{{storage.agencyInfo.agencyName}}</span></td>
                        <td align="center">{{storage.diseaseManagerUserInfo.userName}}</td>
                        <td v-if="storage.reqStorageStatCode === null" align="center">-</td>
                        <td v-else align="center">{{storage.reqStorageStatCode.desc}}</td>
                        <td v-if="storage.createdDate === null" align="center">-</td>
                        <td v-else align="center">{{storage.createdDate.substr(0,10)}}</td>
                        <td v-if="storage.modifiedDate === null" align="center">-</td>
                        <td v-else align="center">{{storage.modifiedDate.substr(0,10)}}</td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <!-- 페이징 -->
            <div class="page-navi-wrap">
                <div v-on:click="onclickPage(prev)"><</div>
                <div v-for="(page, idx) in pageInfo.pages" v-on:click="onclickPage(page)">{{page}}</div>
                <div v-on:click="onclickPage(next)">></div>
            </div>

        </div>
        </script>

    </div>
</html>