<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mypageLayout">

    <th:block layout:fragment="css">
        <style>

            input[readonly]{border:none;background:#f2f2f2 !important;}
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/user/myUserModify.js}"></script>

    </th:block>

    <div class="mypage-container" layout:fragment="contents">
        <div id="maincontentswrap">
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <div class="content">
            <div class="mypage-content mt-40">
                <h3>회원 정보 변경</h3>

                <ul class="mt-20 clearfix">
                    <li>
                        <span class="join-input-group mr-40">
                            <label>회원구분</label>
                            <input type="text"  :value="memberText" readonly>
                        </span>
                        <span class="join-input-group">
                            <label>가입처리 상태</label>
                            <input type="text" :value="info.joinStatName" readonly>
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group mr-40">
                            <label>기관명</label>
                            <input type="text" :value="info.agencyName" readonly>
                        </span>
                        <span class="join-input-group">
                            <label>이메일</label>
                            <input type="text" :value="info.userEmail" readonly>
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group mr-40">
                            <label>담당자 이름</label>
                            <input type="text" id="userName" ref="userName" v-model="info.userName" @input="onkeyupHanName" maxlength="10"/>
                        </span>
                        <span class="join-input-group">
                            <label>담당자 휴대전화</label>
                            <input type="text" ref="userPhoneNumber"  v-model="info.userPhoneNumber" placeholder="하이픈('-') 없이 입력해주세요." maxlength="11" />
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group mr-40">
                            <label>대표자명</label>
                            <input type="text" :value="info.ceoName" readonly>
                        </span>
                        <span class="join-input-group">
                            <label>사업자 번호</label>
                            <input type="text" :value="info.blNumber" readonly>
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group mr-40">
                            <label>질병명</label>
                            <input type="text" :value="info.diseaseName" readonly>
                        </span>
                        <span class="join-input-group" v-if="managerYn">
                            <label>질병책임자 여부</label>
                            <input class="input-372" type="text" :value="info.diseaseManagerName" readonly>
                            <a href="javascript:void(0);" class="com-btn btn-s btn-w-208" @click="onclickUploderPop();" >데이터 업로더 설정</a>
                        </span>
                        <span class="join-input-group" v-else>
                            <label>질병책임자 여부</label>
                            <input type="text" :value="info.diseaseManagerName" readonly>
                        </span>
                    </li>
                    <li v-show="info.parentUserYn">
                        <span class="join-input-group mr-40">
                            <label>질병 책임자명</label>
                            <input class="input-372" type="text" :value="info.parentUserName" readonly>
                            <a href="javascript:void(0);" class="com-btn btn-s btn-w-208" v-show="info.parentYn" @click="onclickChgManage();">질병책임자 변경</a>
                        </span>
                    </li>
                    <li v-if="info.userRole !=='ADMIN' && info.agencyTypeCode === 'COMP' || this.info.diseaseManagerYn === 'Y'">
                        <span class="join-input-group mr-40">
                            <label>NBP 아이디</label>
                            <input type="text" ref="nCloudId" v-model="info.nCloudId" maxlength="50"/>
                        </span>
                        <span class="join-input-group">
                            <label>오브젝트 스토리지 아이디</label>
                            <input type="text" ref="nCloudObjStorageId" v-model="info.nCloudObjStorageId" maxlength="50"/>
                        </span>
                    </li>
                    <li v-if="info.userRole !=='ADMIN' && info.agencyTypeCode === 'COMP' || this.info.diseaseManagerYn === 'Y'">
                        <span class="join-input-group mr-40">
                            <label>NBP 액세스키</label>
                            <input type="text" ref="nCloudAccessKey" v-model="info.nCloudAccessKey" maxlength="50"/>
                        </span>
                        <span class="join-input-group">
                            <label>NBP 시크릿키</label>
                            <input type="text" ref="nCloudSecretKey" v-model="info.nCloudSecretKey" maxlength="50"/>
                        </span>

                    </li>
                </ul>

                <div class="btn-box mt-70 a-r">
                    <a href="javascript:void(0);" class="com-btn btn-line-bl btn-w-332" @click="onclickMovePage()">비밀번호 변경</a>
                    <a href="javascript:void(0);" class="com-btn btn-w-332" @click="onclickSave();">수정</a>
                </div>
            </div>

        </div>
        </script>

        <!-- 데이터 업로더 팝업 -->
        <div id="uploadcontentswrap">
            <uploadcontents ref="uploadcontents"></uploadcontents>
        </div>

        <script type="text/x-template" id="upload-template" >
        <div id="uploaderModal" class="common-popup">

            <div class="common-popup-content">
                <h3>데이터 업로더 설정</h3>
                <hr>
                <div class="search-content">
                    <ul class="pop-ul clearfix mt-60">
                        <li>
                            <label>기관명</label>
                            <p v-text="agencyName"></p>
                        </li>
                        <li class="title">
                            <label>질병명</label>
                            <p v-text="diseaseName"></p>
                        </li>
                        <li class="title">
                            <label>질병책임자</label>
                            <p v-text="diseaseManageName"></p>
                        </li>
                    </ul>

                    <ul class="ul-hosp-result mt-40">
                        <li class="title2">
                            <span>데이터 업로더명</span>
                            <span class="txt-r">데이터업로더 설정여부</span>
                        </li>
                        <li v-if="uploaderList.length == 0">
                            <span class="txt-cont">데이타가 없습니다.</span>
                        </li>
                        <li v-for="(item, idx) in uploaderList">
                            <span class="txt-cont">{{item.userName}}</span>
                            <label class="checkbox-container2">
                                <input type="checkbox" v-model="checked" v-bind:value="item.userSeq">
                                <span class="checkmark2"></span>
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="btn-box mt-60">
                    <a href="javascript:;" class="com-btn mb-20" v-on:click="onclickUploaderSave();">수정</a>
                    <a href="javascript:;" class="com-btn btn-line-bl" onclick="fnClosePopup('uploaderModal')">닫기</a>
                </div>
            </div>
        </div>
        </script>
    </div>
</html>