<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<title>닥터앤서 - 이용약관</title>
    <meta name="viewport" content="width=device-width, maximum-scale=2, minimum-scale=1.0">
	<link rel="stylesheet" href="css/common.css" />
</head>
<body>
<div class="term-wrap">제1조 (목적)

주식회사 엘에이아이에프(이하 ‘㈜ 엘에이아이에프’라 칭함)의 닥터앤서 포털 플랫폼(이하 “플랫폼”이라 함)이 제공하는 모든 서비스(이하 “서비스”라 함)를 이용함에 있어 ㈜ 엘에이아이에프와 회원의 권리, 의무 및 책임사항과 기타 필요한 사항을 규정하는데 목적이 있습니다.

제2조 (약관의 적용)

① 이 약관은 플랫폼에서 제공하는 모든 서비스의 이용절차 및 기타 필요한 사항에 적용됩니다.
② 이 약관에 명시되지 않은 사항에 대해서는 전자상거래 등에서의 소비자보호에 관한 법률, 전자거래기본법, 정보통신망 이용 촉진 등에 관한 법률 등 관련법령 및 ㈜ 엘에이아이에프가 정한 세부이용지침 등의 규정에 의합니다.

제3조 (용어의 정의)

① 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.

1.“플랫폼”은 닥터앤서 사용자 포털 과 닥터앤서 클라우드 서비스플랫폼을 모두 포함합니다.
2.“회원”은 ㈜ 엘에이아이에프가 제공하는 서비스를 이용하기 위해 필요한 아이디(ID)와 비밀번호(PASSWORD)를 설정하고 데이터 공급 기본계약을 체결하고 이 약관에 동의한 자로서 “서비스”를 계속적으로 이용할 수 있는 자를 말합니다.
3.“서비스”는 “플랫폼”에서 제공하는 모든 서비스를 말합니다.
4.“아이디(ID)”는 회원 식별과 회원의 서비스 이용을 위하여 회원 본인이 설정하며, ㈜ 엘에이아이에프가 승인하는 특정 영문자와 숫자 등을 조합하여 표기한 인식문자를 말합니다.
5.“비밀번호(PASSWORD)”는 회원의 비밀보호 및 회원 본인임을 확인하고 서비스를 제공하는 각종 정보의 보안을 위해 회원 자신이 설정하며, 영문자와 숫자, 특수문자를 조합하여 표기한 암호문자를 말합니다.
② 제1항의 용어를 제외한 용어의 정의는 거래관행 및 관계법령에 따릅니다.

제4조 (서비스의 내용)

① ㈜ 엘에이아이에프는 회원에게 다음 각 호의 서비스를 제공합니다.
<span class="t-green">1.유/무료 데이터 검색/구매/다운로드
2.융합데이터 생성 및 모형 개발 분석환경
3.닥터앤서 연관 서비스 어플리케이션</span>
4.고객서비스
② 단, ㈜ 엘에이아이에프의 사정상 각 서비스별로 제공일정 및 제공방법이 변경되거나 지연, 미제공될 수도 있습니다.
③ ㈜ 엘에이아이에프는 서비스 변경 시, 그 변경되는 서비스의 내용 및 제공일자를 제8조 제7항에서 정한 방법으로 회원에게 통지하고, 전 1항에서 정한 서비스를 변경하여 제공할 수 있습니다.

제5조 (서비스 이용계약의 성립)

① 서비스 이용계약은 회원이 되고자 하는 자가 “플랫폼”의 본 약관, 개인정보 처리방침, ‘개인정보 수집∙이용 동의서’, ‘데이터 공급 기본계약서’, ‘비식별 정보 보안관리 약정서’에 <span class="t-green">㈜ 엘에이아이에프가 정한 소정의 방식(이메일을 통한 본인인증 등)으로 동의</span>하고, 정해진 가입양식에 회원정보(ID, PASSWORD, 이름, 전화번호, 기타 ㈜ 엘에이아이에프가 필요하다고 인정하는 사항 등)을 기입하고 “확인”버튼을 누르면 ㈜ 엘에이아이에프가 이에 대해 승낙함으로써 성립됩니다.
② 회원으로 가입하는 자는 ㈜ 엘에이아이에프가 요구하는 개인신상정보를 성실히 제공하여야 합니다.
<span class="t-green">③ ㈜ 엘에이아이에프는 아이디(<span class="t-red">이메일</span>)와 비밀번호(PASSWORD)를 접수 받아 이를 관리하고, 서비스 이용 시에 아이디(<span class="t-red">이메일</span>) 및 비밀번호(PASSWORD) 또는 ㈜ 엘에이아이에프가 정한 소정의 방식(이메일 등)으로 본인 인증을 위한 별도의 정보를 요구할 수 있습니다.</span>
④ ㈜ 엘에이아이에프는 회원의 정보보호 및 보안강화를 위하여 ㈜ 엘에이아이에프가 제공하는 특정 서비스에 있어 인증방법을 “플랫폼 홈페이지” 로그인시의 아이디(<span class="t-red">이메일</span>) 및 비밀번호(PASSWORD)와 달리 구성하도록 요구할 수 있습니다. 이 경우 회원이 이를 따르지 않음으로 인하여 발생하게 될 회원의 제반 손해에 대하여 ㈜ 엘에이아이에프는 책임을 지지 않습니다.

제6조 (이용 신청 및 승낙)

① 회원은 서비스에 접속하거나 서비스를 이용하기 위해서는 아이디(<span class="t-red">이메일</span>)와 비밀번호(PASSWORD) 또는 ㈜ 엘에이아이에프가 정한 소정의 인증방식에 필요한 별도의 정보를 입력하여야 하며, 이에 대해 ㈜ 엘에이아이에프는 입력내용의 일치 여부를 확인한 후 승인한 자에 한해 서비스를 이용하게 할 수 있습니다.
② 회원의 자격에 따라 서비스 이용의 일부가 제한될 수 있습니다.
③ ㈜ 엘에이아이에프는 다음 각호에 해당하는 사항이 발생한 경우에는 이용신청의 승낙을 유보할 수 있습니다.
1.기술상 서비스 제공이 불가능한 경우
2.보안상 문제가 있다고 판단되는 경우
3.기타 사유로 이용 승낙이 곤란한 경우
④ ㈜ 엘에이아이에프는 다음 각 호에 해당하는 이용신청에 대하여는 이를 승낙하지 아니할 수 있습니다.
1.이름이 실명이 아닌 경우
2.다른 사람의 명의를 사용하여 신청한 경우
3.이용신청 시 필요한 내용을 허위로 기재하여 신청한 경우
4.사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우
5.기타 ㈜ 엘에이아이에프가 정한 이용신청 요건에 미비 되었을 경우

제7조 (각종 정보의 제공)

<span class="t-green">① ㈜ 엘에이아이에프는 회원에게 “플랫폼”의 다양한 데이터, 서비스, 이벤트 등의 소개와 안내를 E-Mail 및 기타의 방법을 통해 제공할 수 있습니다.</span>
② 회원의 개인정보는 관련 법률이 정하는 바에 따라 엄격히 관리되며, 회원은 원하지 않는 경우 ㈜ 엘에이아이에프가 제공하는 정보의 수신을 거부할 수 있습니다.

제8조 (서비스의 제공 및 제한)

① 회원은 “플랫폼”이 제공하는 모든 서비스의 이용이 가능합니다. 다만, 회원 구분 및 등급 또는 유료서비스의 경우 일부 서비스 이용이 제한될 수 있습니다.
② 서비스의 이용은 “플랫폼”의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴 1일 24시간을 원칙으로 합니다. 다만, 서비스의 종류 및 내용에 따라 일부 서비스는 별도 이용시간을 정하여 운영할 수 있으며, 이 경우 그 내용을 해당 서비스 이용화면에 공지함으로써 회원에게 통지합니다.
③ 전 2항의 이용시간에도 불구하고 통신장애, 서비스 개발, 시스템 점검, 긴급조치 등 불가피한 사유에 의해 서비스 제공이 일정기간 동안 제한 또는 중단될 수 있습니다.
④ ㈜ 엘에이아이에프는 서비스 이용에 제한을 하고자 하는 경우에는 그 사유 및 기간을 정하여 “플랫폼 홈페이지” 게시, 전자우편 등을 통해 회원에게 통지합니다. 다만, 전3항의 사유를 포함하여 ㈜ 엘에이아이에프가 긴급하게 이용을 제한할 필요가 있다고 인정하는 경우에는 통지하지 아니할 수 있습니다.
<span class="t-green">⑤ ㈜ 엘에이아이에프는 회원이 아이디(<span class="t-red">이메일</span>), 비밀번호(PASSWORD) 또는 ㈜ 엘에이아이에프가 정한 소정의 인증방식으로 일정 횟수 이상 로그인에 실패한 경우, 보안상의 이유로 서비스 이용을 제한할 수 있습니다. 인터넷안전결제(ISP)나 공인인증서 비밀번호를 입력하여야 하는 경우, 인터넷 안전결제(ISP)나 공인인증서 약관에 준합니다.
⑥ 1년 이상 장기 미 이용 회원의 경우 안내 메일 발송 후 서비스 사용을 제한합니다.</span>
⑦ ㈜ 엘에이아이에프가 회원에게 개별공지가 필요한 경우, 회원이 등록한 E-Mail 주소를 통해 우선적으로 개별 통지합니다. 단, 회원이 등록한 E-Mail 주소가 없는 경우와 불특정 다수 회원에 대한 공지를 하는 경우, “플랫폼 홈페이지” 등에 게시함으로써 개별 통지에 갈음할 수 있습니다.

<span class="t-red">제9조 (데이터 구매 및 파기)

① 유/무료 데이터를 이용하고자 하는 회원은 “플랫폼 홈페이지” 상에서 다음 또는 이와 유사한 방법에 의하여 데이터를 구매 및 이용할 수 있습니다.
1.유/무료 데이터 검색 및 선택
2.비식별 정보 보안관리 약정에 동의한다는 표시(ex. 마우스 클릭)
3.회원이 이용 및 다운로드한 모든 유∙무료 데이터 일체 중 이용기간이 만료된 데이터가 있는경우 ‘비식별 정보 파기 확인서’에 동의한다는 표시(ex. 마우스 클릭)
4.유료 데이터의 경우 대금결제
5.데이터 열람, 이용 및 다운로드
② ㈜ 엘에이아이에프는 다음 각 호에 해당하는 경우 서비스 이용을 거절 및 제한할 수 있습니다.
1.데이터 공급 기본계약서 내용(데이터 사용목적 등)에 허위, 기재누락, 오기가 있는 경우
2.“플랫폼”에서 정한 데이터 판매 및 이용기준에 부합하지 않는 경우
(데이터 사용목적이 데이터 배포, 저작권 침해 등에 해당될 경우)
③ ㈜ 엘에이아이에프는 회원에게 데이터 구매내역 정보(유∙무료 구분, 데이터명, 데이터 이용기간, 데이터항목 등)에 대한 조회서비스를 제공하며, 회원은 데이터 이용목적 및 데이터 이용기간이 만료된 경우 비식별 데이터를 파기한 후 파기확인서에 동의해야 하며, 이에 동의하지 않으면 서비스 이용이 제한됩니다.

제10조 (구매 취소 및 환불)

데이터 열람 및 다운로드를 한 경우에는 구매 취소 및 환불이 불가합니다. 단, 데이터 열람 및 다운로드를 하지 않은 경우 데이터 공급일로부터 7일 내에 구매 취소 및 환불이 가능합니다.</span>

제11조 (㈜ 엘에이아이에프의 의무)

① ㈜ 엘에이아이에프는 특별한 사정이 없는 한 회원이 신청한 서비스를 서비스제공 개시일에 이용할 수 있도록 합니다.
② ㈜ 엘에이아이에프는 시스템 점검 및 서비스 개발, 통신장애, 기타 불가항력적인 사고 등 특별한 사정이 없는 한 이 약관이 정한 바에 따라 지속적으로 안정적인 서비스를 제공할 의무가 있습니다.
③ ㈜ 엘에이아이에프는 서비스 제공과 관련하여 알고 있는 회원의 신상정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 관계법령에 의한 수사상의 목적으로 관계 기관으로부터 요구받은 경우나 방송통신심의위원회의 요청이 있는 경우 등 법률의 규정에 따른 적법한 절차에 의한 경우에는 그러하지 않습니다.
④ ㈜ 엘에이아이에프는 서비스의 관련한 회원의 불만사항이 접수되는 경우 이를 신속하게 처리하여야 하며, 신속한 처리가 곤란한 경우 그 사유와 처리 일정을 서비스 화면에 게재하거나 e-mail 등을 통하여 동 회원에게 통지합니다.
⑤ ㈜ 엘에이아이에프가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우 그러한 손해가 ㈜ 엘에이아이에프의 고의나 중과실에 기해 발생한 경우에 한하여 ㈜ 엘에이아이에프에서 책임을 부담하여, 그 책임의 범위는 통상손해에 한합니다.
⑥ ㈜ 엘에이아이에프는 정보통신망 이용촉진 및 정보보호에 관한 법률, 통신비밀보호법 등 서비스의 운영, 유지와 관련 있는 법규를 준수합니다.
⑦ ㈜ 엘에이아이에프는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보 보호를 위해 보안시스템을 갖추어야 하며, 개인정보취급방침을 공시하고 준수합니다.

제12조 (회원의 의무)

① 회원은 서비스를 이용할 때 다음 각호의 행위를 하지 않아야 합니다.
1.다른 회원의 아이디(<span class="t-red">이메일</span>) 및 비밀번호(PASSWORD)를 부정하게 사용하는 행위
2.서비스를 이용하여 얻은 정보를 복사, 가공, 2차적 저작 등을 통하여 복제, 방송, 전시, 배포, 출판 등에 사용하거나 제3자에게 제공하는 행위
3.타인의 명예를 손상시키거나 불이익을 주는 행위
4.㈜ 엘에이아이에프의 저작권, 제 3 자의 저작권 등 기타 권리를 침해하는 행위
5.공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형, 음성 등을 타인에게 유포하는 행위
6.범죄와 결부된다고 객관적으로 인정되는 행위
7.서비스와 관련된 설비의 오 동작이나 정보 등의 파괴 및 혼란을 유발시키는 컴퓨터 바이러스 감염자료를 등록 또는 유포하는 행위
8.서비스의 안정적 운영을 방해할 수 있는 정보를 전송하거나 수신자의 의사에 반하여 광고성 정보를 전송하는 행위
9.기타 관계법령에 위배되는 행위
② 아이디(<span class="t-red">이메일</span>)와 비밀번호(PASSWORD) 관리에 관한 일체의 책임은 회원 본인에게 있습니다. 회원에게 부여된 아이디(<span class="t-red">이메일</span>)와 비밀번호(PASSWORD)를 제3자에게 대여 또는 양도하거나 이와 유사한 행위를 하여서는 안되며, 아이디(<span class="t-red">이메일</span>)와 비밀번호(PASSWORD)의 관리소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 책임은 회원 본인에게 있습니다. ㈜ 엘에이아이에프가 정한 소정의 인증방식을 이용할 경우, 해당 인증방식의 비밀번호 관리에 관한 일체의 책임은 해당 인증 약관에 준합니다.
③ 회원은 자신의 아이디(<span class="t-red">이메일</span>)가 부정하게 사용된 것을 인지한 경우, 즉시 자신의 비밀번호(PASSWORD)를 변경하고 그 사실을 ㈜ 엘에이아이에프에 통보하여야 합니다.
④ 회원은 본인의 신상 관련 사항이 변경되었을 때는 “플랫폼 홈페이지”을 통하여 수정하거나 유선으로 지체 없이 ㈜ 엘에이아이에프에 통보하여야 합니다.
⑤ 회원은 ㈜ 엘에이아이에프의 사전승낙 없이 서비스를 이용하여 영업활동을 할 수 없으며, 그 영업활동으로 인한 결과에 대하여 ㈜ 엘에이아이에프는 책임을 지지 않습니다.
⑥ 회원은 이 약관 및 관계법령에서 규정한 사항과 서비스 이용안내 또는 주의사항을 성실히 준수하여야 합니다.
⑦ 회원은 내용별로 ㈜ 엘에이아이에프가 서비스 공지사항에 게시하거나 별도로 공지한 이용 제한사항을 준수하여야 합니다.
⑧ 회원은 ㈜ 엘에이아이에프의 사전동의 없이 서비스의 이용권한, 기타 이용계약상 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.

제13조 (계약해지 및 이용제한)

① 회원이 서비스 이용계약을 해지하고자 할 경우에는 본인이 “플랫폼 홈페이지” 또는 ㈜ 엘에이아이에프가 정한 별도의 방법을 이용하여 ㈜ 엘에이아이에프에게 해지 신청을 하여야 합니다. 이 경우 관련법 및 개인정보취급방침에 따라 ㈜ 엘에이아이에프가 회원정보를 보유하는 경우를 제외하고는 해지 즉시 회원은 모든 데이터는 삭제됩니다.
② ㈜ 엘에이아이에프는 보안 및 아이디 정책, 서비스의 원활한 제공 등과 같은 이유로 제8조의 방법으로 고지를 통하여 회원의 아이디(<span class="t-red">이메일</span>) 변경을 요구하거나 변경할 수 있습니다.
③ ㈜ 엘에이아이에프는 회원이 다음 각 호에 해당하는 행위를 하였을 경우에는 사전 통지 없이 서비스 이용계약을 해지하거나 서비스의 이용을 중지시길 수 있습니다.
1.아이디(<span class="t-red">이메일</span>)와 비밀번호(PASSWORD) 등 회원 고유정보를 타인에게 누설하거나 타인의 아이디(<span class="t-red">이메일</span>) 및 비밀번호(PASSWORD)를 도용한 경우
2.서비스 운영을 고의로 방해한 경우
3.가입한 성명이 실명이 아닌 경우
4.동일 사용자가 다른 <span class="t-red"></span>아이디(이메일)</span>로 이중 등록한 경우
5.공공질서 및 미풍양속에 저해되는 내용을 고의로 유포시킨 경우
6.회원이 국익 또는 사회적 공익을 저해할 목적으로 서비스 이용을 계획 또는 실행하는 경우
7.타인의 명예를 손상시키거나 불이익을 주는 행위를 한 경우
8.서비스의 안정적 운영을 방해할 목적으로 정보를 전송하거나 광고성 정보를 전송하는 경우
9.통신설비의 오 동작이나 정보 등의 파괴를 유발시키는 컴퓨터 바이러스 프로그램 등을 유포하는 경우
10.㈜ 엘에이아이에프, 다른 회원 또는 제3자의 지적재산권을 침해하는 경우
11.㈜ 엘에이아이에프의 서비스정보를 이용하여 얻은 정보를 ㈜ 엘에이아이에프의 사전 승낙 없이 복제 또는 유통시키거나 상업적으로 이용하는 경우
12.회원이 게시판 등에 음란물을 게재하거나 음란사이트를 연결(링크)하는 경우
13.스토킹(stalking) 등 다른 이용자를 괴롭히는 행위를 하는 경우
14.본 약관을 포함하여 기타 ㈜ 엘에이아이에프가 정한 이용조건 및 관계법령을 반해 더 이상의 서비스 제공이 어렵다고 판단되는 경우
④ 전3항에 해당하는 행위를 한 회원은 이로 인해 ㈜ 엘에이아이에프 또는 다른 회원에게 발생한 손해를 배상할 책임이 있습니다.
⑤ 전3항의 ㈜ 엘에이아이에프 조치에 대하여 회원은 ㈜ 엘에이아이에프가 정한 절차에 따라 이의신청을 할 수 있고, 이의가 정당하다고 인정하는 경우 ㈜ 엘에이아이에프는 해당 서비스의 이용을 재개합니다.

제14조 (전자메일에 대한 회원의 의무와 책임)

① ㈜ 엘에이아이에프는 회원의 전자메일 내용을 편집하거나 감시하지 않습니다.
② 회원은 ㈜ 엘에이아이에프의 전자메일을 통하여 음란물이나 명예훼손 내용, 정크메일, 스팸 메일, 행운의 편지, 피라미드 조직에 가입할 것을 권유하는 메일, 외설 또는 폭력적인 메시지•화상•음성 등 타인에게 피해를 주거나 미풍양속을 해치는 메일을 보내서는 안됩니다.
③ 전 2 항을 위반하여 발생되는 모든 책임은 회원에게 있으며, 이 경우 <span class="t-red">아이디(이메일)</span>와 PASSWORD 등 개인정보를 수사기관에 제공할 수 있습니다.

제15조 (게시물 등의 관리)

① ㈜ 엘에이아이에프는 서비스를 제공하는 “플랫폼 홈페이지”의 원활한 관리∙감독을 위하여 필요한 경우, 게시되는 내용물에 대해 추가∙수정∙삭제할 수 있으며, 회원에게 별도 통지 없이 서비스의 개편 및 내용의 추가∙수정∙삭제를 할 수 있습니다.
② ㈜ 엘에이아이에프는 회원이 게시하거나 전달하는 서비스 내의 모든 내용물(회원간 전달내용 포함)이 다음의 경우에 해당한다고 판단되는 경우 별도의 사전 통지 없이 삭제할 수 있으며, 이에 대해 ㈜ 엘에이아이에프는 어떠한 책임도 지지 않습니다.
1.㈜ 엘에이아이에프, 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우
2.공공질서 및 미풍양속에 위반되는 내용인 경우
3.범죄적 행위에 결부된다고 인정되는 내용인 경우
4.㈜ 엘에이아이에프의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
5.본조 제2항 소정의 세부 이용지침을 통하여 ㈜ 엘에이아이에프에서 규정한 게시기간을 초과한 경우
6.㈜ 엘에이아이에프에서 제공하는 서비스와 관련 없는 내용인 경우
7.불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우
8.기타 관계법령 및 ㈜ 엘에이아이에프의 세부지침 등에 위반된다고 판단되는 경우
③ ㈜ 엘에이아이에프는 게시물에 관련된 세부 이용지침을 별도로 정하여 시행할 수 있으며, 회원은 그 지침에 따라 각종 게시물(회원간 전달내용 포함)을 등록, 삭제 등을 하여야 합니다.
④ 회원은 개인적인 이익을 위하여 ㈜ 엘에이아이에프에 게시물의 추가적 게재 등의 요구를 할 수 없습니다.

<span class="t-green">제16조 (링크사이트에 대한 책임)

① ㈜ 엘에이아이에프는 회원에게 다른 ㈜ 엘에이아이에프의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 그러나 이 경우 ㈜ 엘에이아이에프는 링크된 외부사이트 및 자료에 대한 아무런 통제권이 없으므로 그로부터 제공받은 서비스나 자료의 유용성에 대해 ㈜ 엘에이아이에프가 아무런 보증도 하지 않고, 그에 대해 책임이 없습니다.
② 회원은 링크된 외부사이트의 서비스나 자료를 신뢰함으로써 야기되거나 야기되었다고 주장되는 어떠한 손해나 손실에 대해서는 ㈜ 엘에이아이에프에 책임이 없음을 인정하고 이에 동의합니다.</span>

제17조 (면책)

① ㈜ 엘에이아이에프는 다음 각호의 사유로 인하여 회원에게 발생한 손해에 대해서는 책임을 지지 않습니다. 다만, ㈜ 엘에이아이에프가 책임 있다고 판단되는 상당한 인과관계가 있는 경우에는 그러하지 아니합니다.
1.통신기기, 회선 및 컴퓨터의 장애나 거래 폭주 등 부득이한 사정으로 서비스가 제공되지 못하거나 지연된 경우
2.회원이 <span class="t-red">아이디(이메일)</span>, 비밀번호(PASSWORD) 등을 본인의 관리소홀로 인해 제3자에게 누출한 경우
3.회원의 귀책사유(전산조작이나 업무처리 오류 등)로 인한 경우
4.기타 천재지변 등의 불가피한 사유로 인한 경우
② ㈜ 엘에이아이에프는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며 그 밖에 서비스를 통하여 얻은 자료로 인한 손해 등에 대하여도 책임을 지지 않습니다. ㈜ 엘에이아이에프는 회원이 “플랫폼 홈페이지”에 게재한 정보, 자료의 신뢰도, 정확성 등 내용에 대하여는 책임을 지지 않습니다.
③ ㈜ 엘에이아이에프는 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 발생한 분쟁에 대해서는 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도 없습니다.

제18조 (저작권의 귀속 및 이용제한)

① ㈜ 엘에이아이에프가 제공하는 데이터, 서비스, 그에 필요한 화면(문구 및 디자인) 등과 관련된 지적재산권 및 기타 관리는 ㈜ 엘에이아이에프에 귀속됩니다.
② 회원은 ㈜ 엘에이아이에프가 제공하는 서비스를 이용함으로써 얻은 정보를 ㈜ 엘에이아이에프의 사전 승낙 없이 출판, 복제, 방송 및 기타 방법에 의하여 유포하거나 제3자에게 이용하게 해서는 아니 됩니다.
③ 회원이 서비스 내에 게시한 게시물(회원간 전달내용 포함)의 저작권은 회원이 소유하며 ㈜ 엘에이아이에프는 서비스 내에 이를 게시할 수 있는 권리를 갖습니다.
④ ㈜ 엘에이아이에프는 회원의 동의 없이 게시물을 다른 목적으로 사용할 수 없습니다.
⑤ ㈜ 엘에이아이에프는 회원이 서비스 내에 게시한 게시물이 타인의 저작권, 프로그램 저작권 등을 침해하더라도 이에 대해 민, 형사 상의 책임을 부담하지 않습니다. 만일 회원이 타인의 저작권, 프로그램 저작권 등을 침해하였음을 이유로 ㈜ 엘에이아이에프가 타인으로부터 손해배상 청구 등 이의 제기를 받은 경우 회원은 ㈜ 엘에이아이에프의 면책을 위하여 노력해야 하며, ㈜ 엘에이아이에프가 면책되지 못한 경우 회원은 그로 인해 ㈜ 엘에이아이에프에 발생한 모든 손해를 부담하여야 합니다.
⑥ ㈜ 엘에이아이에프는 회원이 해지하거나 적법한 사유로 해지된 경우 해당 회원이 게시하였던 게시물을 삭제할 수 있습니다.

제19조 (약관의 효력 및 변경)

① 이 약관은 서비스를 이용하고자 하는 모든 회원에 대하여 그 효력이 발생합니다.
② 이 약관의 내용은 특별한 규정이 없는 한 “플랫폼 홈페이지” 상에 게시하거나 기타의 방법으로 회원에게 공지함으로써 효력이 발생합니다.
③ ㈜ 엘에이아이에프는 필요하다고 인정되는 사유가 발생할 경우 약관의 규제에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률, 전자거래기본법, 정보통신망 이용 촉진 등에 관한 법률, 소비자보호법 등 관련법을 위배하지 않은 범위에서 이 약관의 일부 또는 전부를 변경할 수 있으며 , 이 경우 당해 변경 내용을 “플랫폼 홈페이지” 상의 공지화면을 통하여 게시하거나 기타의 방법으로 회원에게 공지함으로써 효력이 발생합니다.
④ 전항의 방법으로 변경 고지된 약관은 기존의 회원에게도 유효하게 효력이 발생하며, 변경된 약관에 동의하지 않으면 서비스 이용을 중단하고 이용계약을 해지할 수 있으며, 계속 서비스를 이용하는 경우에는 약관 변경에 동의한 것으로 간주됩니다.

제20조 (약관위반 시 책임)

㈜ 엘에이아이에프와 회원은 이 약관을 위반함으로써 발생하는 모든 책임을 각자 부담하며, 이로 인하여 상대방에게 손해를 입힌 경우에는 지체 없이 배상하여야 합니다.

제21조 (분쟁해결 및 관할법원)

① 서비스 이용과 관련하여 ㈜ 엘에이아이에프와 회원 사이에 분쟁이 발생한 경우, 우선 쌍방간에 분쟁의 해결을 위해 성실히 노력하여야 합니다.
② 전1항의 노력에서도 분쟁이 해결되지 않을 경우, 관할법원은 ㈜ 엘에이아이에프 본점 소재지를 관할하는 법원을 전속관할법원으로 합니다.

부칙

제1조 (시행일)

<span class="t-green">이 약관은 <span class="t-red">2020년 12월 1일</span>부터 시행합니다.</span>

</div>
</body>
</html>
