<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mypageLayout">

    <th:block layout:fragment="css">

    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/storage/myAdminOpenList.js}"></script>
    </th:block>

    <div class="mypage-container" layout:fragment="contents">
        <div id="maincontentswrap">
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
            <div class="content">
                <div class="mypage-content mt-40">
                    <h3>질환테이터 공개신청관리 리스트</h3>
                    <div class="list-search-wrap a-r mt-20">
                        <label>Search</label>
                        <div class="custom-select search-select">
                            <select ref="openStorageStatCode" v-model="search.openStorageStatCode">
                                <option value="">전체</option>
                                <option v-for="option in openStorageStatCdList" v-bind:value="option.name">
                                    {{option.desc}}
                                </option>
                            </select>
                        </div>
                        <input type="text" v-model="search.openDataName" @keyup="onKeyup" placeholder="데이터명">
                        <a href="javascript:;" class="com-btn btn-hosp-search" @click="onclickSearch">SEARCH</a>
                    </div>
                    <table class="table-list mt-50">
                        <colgroup>
                            <col style="width:10%;"/>
                            <col style="width:30%;"/>
                            <col style="width:15%;"/>
                            <col style="width:10%;"/>
                            <col style="width:8%;"/>
                            <col style="width:10%;"/>
                            <col style="width:10%;"/>
                        </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">질환</th>
                            <th scope="col">데이터명</th>
                            <th scope="col">제공병원</th>
                            <th scope="col">신청자</th>
                            <th scope="col">상태</th>
                            <th scope="col">신청일자</th>
                            <th scope="col">처리일자</th>
                        </tr>
                    </thead>
                    <tbody v-if="openStorageList.length == 0">
                        <tr class="tr-link" >
                            <td colspan="7" class="a-c">데이타가 없습니다.</td>
                        </tr>
                    </tbody>
                    <tbody v-if="openStorageList.length > 0">
                        <tr class="tr-link"  v-for="(open, idx) in openStorageList">
                            <td><a href="javascript:;" v-on:click="onclickReq(open.reqOpenId)">{{open.diseaseManagerUserInfo.diseaseCode.desc}}</a></td>
                            <td  class="a-l"><a href="javascript:;" v-on:click="onclickReq(open.reqOpenId)">{{open.openDataName}}</a></td>
                            <td><a href="javascript:;" v-on:click="onclickReq(open.reqOpenId)">{{open.agencyInfo.agencyName}}</a></td>
                            <td>{{open.diseaseManagerUserInfo.userName}}</td>
                            <td v-if="open.reqStorageStatCode === null" align="center">-</td>
                            <td v-else>{{open.openStorageStatCode.desc}}</td>
                            <td v-if="open.createdDate === null" align="center">-</td>
                            <td v-else>{{open.createdDate.substr(0,10)}}</td>
                            <td v-if="open.modifiedDate === null" align="center">-</td>
                            <td v-else>{{open.modifiedDate.substr(0,10)}}</td>
                        </tr>
                    </tbody>
                </table>

                    <!-- 페이징 -->
                <div class="btn-box mt-40">
                    <div class="pagination fl-l">
                        <a href="javascript:;" v-on:click="onclickPage(pageInfo.prev)" ><span class="next-bar"></span><span class="next"></span></a>
                        <a href="javascript:;" v-for="(page, idx) in pageInfo.pages" v-on:click="onclickPage(page)" v-bind:class="{active:pageInfo.curr==page}">{{page}}</a>
                        <a href="javascript:;" v-on:click="onclickPage(pageInfo.next)"><span class="prev-bar"></span><span class="prev"></span></a>
                    </div>
                </div>
            </div>
        </div>
        </script>
    </div>
</html>