<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mypageLayout">

    <th:block layout:fragment="css">

    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/storage/myAdminOpenView.js}"></script>
        <script>
            const openStorageId = "[[${param.openStorageId}]]";
        </script>
    </th:block>

    <div class="mypage-container" layout:fragment="contents">
        <div id="maincontentswrap">
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
            <div class="content">
                <div class="mypage-content mt-40">
                    <h3>질환테이터 공개신청관리 상세</h3>
                    <div class="join-cont-box mt-30">
                        <h4>신청자 정보</h4>
                        <ul class="com-ul">
                            <li class=" bdr-b">
                                <span class="join-input-group mr-40">
                                    <label>신청자명</label>
                                    <p class="txt-data">{{openStorageInfo.reqUserDto.userName}}</p>
                                </span>
                                <span class="join-input-group">
                                    <label>병원명</label>
                                    <p class="txt-data">{{openStorageInfo.reqUserDto.agencyName}}</p>
                                </span>
                            </li>
                            <li class=" bdr-b">
                                <span class="join-input-group mr-40">
                                    <label>연락처</label>
                                    <p class="txt-data">{{openStorageInfo.reqUserDto.userPhoneNumber}}</p>
                                </span>
                                <span class="join-input-group">
                                    <label>관리하는 질병</label>
                                    <p class="txt-data">{{openStorageInfo.reqUserDto.diseaseCode.desc}}</p>
                                </span>
                            </li>
                            <li>
                                <span class="join-input-group">
                                    <label>이메일</label>
                                    <p class="txt-data">{{openStorageInfo.reqUserDto.userEmail}}</p>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="join-cont-box mt-30">
                        <h4>저장소 정보</h4>
                        <ul class="com-ul">
                            <li class=" bdr-b">
                                <span class="join-input-group mr-40">
                                    <label>저장소명</label>
                                    <p class="txt-data">{{openStorageInfo.reqStorageInfo.dataName}}</p>
                                </span>
                                <span class="join-input-group">
                                    <label>공개데이터명</label>
                                    <p class="txt-data">{{openStorageInfo.openDataName}}</p>
                                </span>
                            </li>
                            <li>
                                <span class="join-input-group mr-40">
                                    <label>처리상태</label>
                                    <p class="txt-data">{{openStorageInfo.openStorageStatCode.desc}}</p>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="join-cont-box mt-30"
                         v-if="openStorageInfo.openStorageStatCode.name === 'C_REQ' ||
                               openStorageInfo.openStorageStatCode.name === 'C_ACC' ||
                               openStorageInfo.openStorageStatCode.name === 'C_REJ'">
                        <h4>취소 정보</h4>
                        <ul class="com-ul">
                            <li>
                                <span class="join-input-group w-100">
                                    <label>취소사유</label>
                                    <input class="w-100" type="text" v-bind:value="openStorageInfo.cancelReason" readonly>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="join-cont-box mt-30" v-if="openStorageInfo.openStorageStatCode.name !== 'O_ACC' &&
                                                           openStorageInfo.openStorageStatCode.name !== 'C_ACC'">
                        <h4>거절 정보</h4>
                        <ul class="com-ul">
                            <li v-if="openStorageInfo.openStorageStatCode.name === 'O_REQ' || openStorageInfo.openStorageStatCode.name === 'C_REQ'">
                                <span class="join-input-group w-100" >
                                    <label>거절사유</label>
                                    <input class="w-100" type="text" v-model="saveInfo.rejectReason" ref="rejectReason" placeholder="거절사유를 입력해주세요">
                                </span>
                            </li>
                            <li v-else>
                                <span class="join-input-group w-100" >
                                    <label>거절사유</label>
                                    <input class="w-100" type="text" v-bind:value="openStorageInfo.rejectReason" readonly>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box mt-70 a-r" v-if="openStorageInfo.openStorageStatCode.name === 'O_REQ' || openStorageInfo.openStorageStatCode.name === 'C_REQ'">
                        <a href="javascript:;" class="com-btn btn-line-bl btn-w-332" v-on:click="onclickList">목록</a>
                        <a href="javascript:;" class="com-btn btn-w-332" v-on:click="onclickApprove">승인</a>
                        <a href="javascript:;" class="com-btn btn-gray btn-w-332" v-on:click="onclickCancel">거절</a>
                    </div>
                    <div class="btn-box mt-70 a-r" v-else>
                        <a href="javascript:;" class="com-btn btn-line-bl btn-w-332" v-on:click="onclickList">목록</a>
                    </div>
                </div>
            </div>
        </script>

    </div>
</html>