<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

    <th:block layout:fragment="css">
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/storage/openList.js}"></script>
        <script>
            const openStorageStatCode = "[[${param.openStorageStatCode}]]";
        </script>
    </th:block>

    <div class="member-container" layout:fragment="contents">
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
            <div class="content" >
                <div class="sub-title-box">
                    <h2>질환데이터 공개신청</h2>
                    <p>Application for storage of disease data</p>
                    <hr>
                </div>

                <div class="list-search-wrap a-r mt-80">
                    <label>Search</label>
                    <div class="custom-select search-select">
                        <select ref="openStorageStatCd" v-model="cond.openStorageStatCode">
                            <option value="">전체</option>
                            <option v-for="option in openStorageStatCdList" v-bind:value="option.name">
                                {{option.desc}}
                            </option>
                        </select>
                    </div>
                    <input type="text" v-model="cond.openDataName" @keyup="onKeyup" placeholder="데이터명을 입력하세요.">
                    <a href="#" class="com-btn btn-hosp-search" v-on:click="onclickSearch">SEARCH</a>
                </div>

                <table class="table-list mt-50">
                    <colgroup>
                        <col style="width:13%" />
                        <col style="width:23%" />
                        <col style="width:20%" />
                        <col style="width:12%" />
                        <col style="width:11%" />
                        <col style="width:10%" />
                        <col style="width:9%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">질환</th>
                        <th scope="col">데이타명</th>
                        <th scope="col">제공병원</th>
                        <th scope="col">신청자</th>
                        <th scope="col">상태</th>
                        <th scope="col">신청일자</th>
                        <th scope="col">처리일자</th>
                    </tr>
                    </thead>
                    <tbody v-if="openStorageList.length == 0">
                    <tr>
                        <td colspan="7" align="center">
                            no data.
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-if="openStorageList.length > 0">
                    <tr v-for="(open, idx) in openStorageList">
                        <td>{{open.diseaseManagerUserInfo.diseaseCode.desc}}</td>
                        <td>{{open.openDataName}}</td>
                        <td>{{open.agencyInfo.agencyName}}</td>
                        <td align="center">{{open.diseaseManagerUserInfo.userName}}</td>
                        <td v-if="open.reqStorageStatCode === null" align="center">-</td>
                        <td v-else align="center">{{open.openStorageStatCode.desc}}</td>
                        <td v-if="open.createdDate === null" align="center">-</td>
                        <td v-else align="center">{{open.createdDate.substr(0,10)}}</td>
                        <td v-if="open.modifiedDate === null" align="center">-</td>
                        <td v-else align="center">{{open.modifiedDate.substr(0,10)}}</td>
                    </tr>
                    </tbody>
                </table>

                <!-- 페이징 -->
                <div class="btn-box mt-40">
                    <div class="pagination fl-l">
                        <a href="#" v-on:click="onclickPage(pageInfo.prev)"><span class="next-bar"></span><span class="next"></span></a>
                        <a href="#" v-for="(page, idx) in pageInfo.pages" v-on:click="onclickPage(page)" v-bind:class="{active:pageInfo.curr==page}">
                            {{page}}
                        </a>
                        <a href="#" v-on:click="onclickPage(pageInfo.next)"><span class="prev-bar"></span><span class="prev"></span></a>
                    </div>
                    <a href="#" class="com-btn btn-w-332 fl-r" v-on:click="onclickReq">신청</a>
                </div>

        </div>
        </script>
    </div>
</html>