<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/storage/storage.css}" />
    </th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/js/common/common.js}"></script>
        <script th:src="@{/js/storage/openReq.js}"></script>

    </th:block>

    <div layout:fragment="contents">
        <div id="maincontentswrap" >
            <maincontents ref="maincontents"></maincontents>
        </div>

        <script type="text/x-template" id="main-template" >
        <div class="storage-contents-wrap" >

            <div class="storage-title">질환데이터 공개신청</div>
            <div class="storage-title">신청자 정보</div>
            <div class="storage-content">
                <table class="result-table-detail">
                    <tr>
                        <th>신청자명</th>
                        <td>{{userInfo.userName}}</td>
                        <th>병원명</th>
                        <td>{{userInfo.agencyName}}</td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td>{{userInfo.userPhoneNumber}}</td>
                        <th>관리하는 질병</th>
                        <td>{{diseaseInfo.desc}}</td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td colspan="3">{{userInfo.userEmail}}</td>
                    </tr>
                </table>
            </div>

            <div class="storage-title">저장소 정보 <button v-on:click="onclickOpenStorage">기존 저장소 불러오기</button> <button v-on:click="onclickReset">신청정보 초기화</button></div>
            <div class="storage-content">
                <table class="result-table-detail">
                    <tr>
                        <th>저장소명</th>
                        <td colspan="3">
                            <input type="text" v-model="saveInfo.bucketName" placeholder="" readonly> {{saveInfo.reqStorageId}}
                        </td>
                    </tr>
                    <tr>
                        <th>공개데이터명</th>
                        <td colspan="3"><input type="text" v-model="saveInfo.openDataName" placeholder=""></td>
                    </tr>
                </table>
            </div>

            <div class="btn_wrap" align="center">
                <button v-on:click="onclickCancel">취소</button>
                <button v-on:click="onclickReqSave">신청</button>
            </div>

        </div>
        </script>

        <script>
        </script>
    </div>
</html>