<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<div th:fragment="headerFragment">
    <script th:src="@{/js/fragments/defaultHeader.js}"></script>
    <script>
        const MY_ROLE= "[[${#authentication.authorities[0]}]]";
    </script>
    <link rel="stylesheet" th:href="@{/css/fragments/defaultHeader.css}" />

    <div id="headercontentswrap">
        <headercontents ref="headercontents"></headercontents>
    </div>

    <script type="text/x-template" id="header-template" >
        <div class="header-wrapper">
            <div class="top-menu-wrap">
                <div class="top-menu" sec:authorize="isAnonymous()" >
                    <div class="menu" v-for="(menu, key) in anonymousTopMenus" v-on:click="onclickMenu(menu)">{{menu.name}}</div>
                </div>
                <div class="top-menu" sec:authorize="isAuthenticated()">
                    <span class="menu" style="font-weight: 700;">[[${#authentication.principal.name}]]([[${#authentication.authorities[0]}]])님</span>
                    <div class="menu" v-on:click="onclickMypage()">마이페이지</div>
                    <div class="menu" v-on:click="onclickLogout()">로그아웃</div>
                </div>
            </div>
            <div class="menus">
                <div class="menu"><a href="/" style="text-decoration: none;">메인</a></div>
                <div v-for="(menu, key) in menus">
                    <div v-if="menu.use" class="menu" v-on:mouseover="hoverParent(menu, true)" v-on:mouseout="hoverParent(menu, false)">
                        <div class="parent">{{menu.name}}</div>
                        <div v-if="menu.children.length > 0" class="children" :style="menu.style">
                            <div v-for="(child, key) in menu.children">
                                <div v-if="child.use">
                                    <div v-on:click="onclickMenu(child)" class="menu">{{child.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

</div>
</html>