<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<div th:fragment="mypageFragment">

    <script th:src="@{/js/common/mypage.js}"></script>
    <script>
        const role = "[[${#authentication.authorities[0]}]]";
        myMenuId = "[[${param.menuId}]]";
    </script>

<!-- 마이페이지 메뉴 -->
    <div id="mypagemenuswrap" >
        <mypagemenus ref="mypagemenus"></mypagemenus>
    </div>
    <script type="text/x-template" id="mypage-template" >
        <div class="mypage-contents-wrap" >
             >>>>> 마이페이지
            <div class="tab_menu" v-if="role=='ROLE_MANAGER'">
                <div v-for="(menu, key) in menus_manager">
                    <div v-if="menu.use" class="menu">
                        <div v-if="menu.use && menuId==key" class="menu">
                            <a href="javascript:void(0);" class="on"> <div v-on:click="onclickMenu(menu, key)" class="parent">{{menu.name}}</div></a>
                        </div>
                        <div class="menu" v-else>
                            <a href="javascript:void(0);"> <div v-on:click="onclickMenu(menu, key)" class="parent">{{menu.name}}</div></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_menu" v-if="role=='ROLE_UPLOADER'">
                <div v-for="(menu, key) in menus_manager">
                    <div v-if="menu.use" class="menu">
                        <div v-if="menu.use && menuId==key" class="menu">
                            <a href="javascript:void(0);" class="on"> <div v-on:click="onclickMenu(menu, key)" class="parent">{{menu.name}}</div></a>
                        </div>
                        <div class="menu" v-else>
                            <a href="javascript:void(0);"> <div v-on:click="onclickMenu(menu, key)" class="parent">{{menu.name}}</div></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab_menu tab_admin" v-else-if="role=='ROLE_ADMIN'">
                <div v-for="(menu, key) in menus_admin">
                    <div v-if="menu.use && menuId==key" class="menu">
                        <a href="javascript:void(0);" class="on"> <div v-on:click="onclickMenu(menu, key)" class="parent">{{menu.name}}</div></a>
                    </div>
                    <div class="menu" v-else>
                        <a href="javascript:void(0);"> <div v-on:click="onclickMenu(menu, key)" class="parent">{{menu.name}}</div></a>
                    </div>
                </div>
            </div>

            <div class="tab_menu" v-else-if="role=='ROLE_USER'">
                <div v-for="(menu, key) in menus_user">
                    <div v-if="menu.use" class="menu">
                        <div v-if="menu.use && menuId==key" class="menu">
                            <a href="javascript:void(0);" class="on"> <div v-on:click="onclickMenu(menu, key)" class="parent">{{menu.name}}</div></a>
                        </div>
                        <div class="menu" v-else>
                            <a href="javascript:void(0);"> <div v-on:click="onclickMenu(menu, key)" class="parent">{{menu.name}}</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
<!-- 마이페이지 메뉴 끝 -->

</div>
</html>