body{
    margin: 0px;
}

.wrap .line{
    display: flex;
    justify-content: center;
}

.main-wrapper{
    display: flex;
    justify-content: center;
}

.main-wrap{
    width: 1200px;
}

.main-contents-wrap{
    border: 1px solid #000000;
    min-height: 500px;
    padding: 10px 10px 240px 10px;
}