<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="padding:60px 40px;width:600px;height:860px;text-align:center">
    <h1><img src="http://itsmart.iptime.org/files/mailing_logo.png" alt="Dr answer" width="124px" height="40px"></h1>
    <h2 style="margin-top:86px;padding-left:20px;font-size:40px;color:#000;letter-spacing:20px;line-height:0.8">[[${title}]] 승인 안내</h2>

    <hr style="margin-top:55px;border:none;height:1px;width:40px;background:#000">
    <p style="margin-top:50px;font-size:18px;color:#333;line-height:1.8">
        안녕하세요.<br/>
        닥터 앤서입니다.<br/>
        [[${userName}]] 님이 신청한 [[${subject}]]이 승인되었습니다.
    </p>
    <a href="http://10.41.216.205" style="display:block;margin-top:70px;width:600px;height:70px;background:#13a1af;font-size:18px;font-weight:bold;color:#fff;text-align:center;letter-spacing:1px;text-decoration:none;line-height:4">홈페이지 바로가기</a>
</div>

</body>
</html>