<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/instance/envInstanceReqS.js}"></script>
    <script>
        // const reqSeq = "[[${param.reqSeq}]]";
    </script>
</th:block>

<div class="member-container" layout:fragment="contents">
    <div id="maincontentswrap" >
        <maincontents ref="maincontents"></maincontents>
    </div>

    <script type="text/x-template" id="main-template" >
        <div class="content" >
            <div class="sub-title-box">
                <h2>학습환경 사용신청</h2>
                <!--                <p>Application for storage of disease data</p>-->
                <hr>
            </div>

            <div class="join-cont-box clearfix">
                <h3>신청자 정보</h3>
                <ul class="com-ul">
                    <li>
                        <span class="join-input-group mr-40">
                            <label>신청자명</label>
                            <input type="text" v-bind:value="userInfo.userName" readonly>
                        </span>
                        <span class="join-input-group">
                            <label>기업명</label>
                            <input type="text" v-bind:value="userInfo.agencyName" readonly>
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group mr-40">
                            <label>연락처</label>
                            <input type="text" v-bind:value="userInfo.userPhoneNumber" readonly>
                        </span>
                        <span class="join-input-group">
                            <label>이메일</label>
                            <input type="text" v-bind:value="userInfo.userEmail" readonly>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="join-cont-box">
                <h3>신청 정보</h3>
                <span class="join-txt-caution">* 필수 입력 항목</span>
                <ul class="com-ul">
                    <li>
                        <span class="join-input-group w-100">
                            <label>운영체제<span>*</span></label>
                            <span class="radio-wrap join-radio bdr-b">
                                <span v-for="(item, idx) in osImageTypeCdList">
                                    <input type="radio" v-bind:id="['osImage_op' + idx]" @change="onChangeOsImage(item.productCode)" v-bind:value="item.name"  v-model="saveInfo.osImageType"/>
                                    <label v-bind:for="['osImage_op' + idx]"><span></span>{{item.desc}}</label>
                                </span>
                            </span>
                        </span>
                    </li>

                    <li>
                        <span class="join-input-group w-100">
                            <label>서버타입<span>*</span></label>
                            <span class="radio-wrap join-radio bdr-b">
                                <span v-for="(item, idx) in productTypeCdList">
                                    <input type="radio" v-bind:id="['productType_op' + idx]" @change="onChangeProduct(item.name)" v-bind:value="item.name" v-model="saveInfo.productType"/>
                                    <label v-bind:for="['productType_op' + idx]"><span></span>{{item.desc}}</label>
                                </span>
                            </span>
                        </span>
                    </li>

                    <li class="w-100" style="display: none;">
                        <span class="join-input-group">
                            <label>VPC<span>*</span></label>
                            <div class="custom-select" name="vpcDiv">
                         <select id="vpcNo" v-model="saveInfo.vpcNo" ref="vpcNo"  onchange="selectedChange(id)">
                                    <option value="">VPC를 선택하세요</option>
                                    <option v-for="option in vpcList" v-bind:value="option.vpcNo">{{option.vpcName}}</option>
                                </select>
                            </div>
                        </span>
                        <span class="join-input-group">
                            <label><span></span></label>
                            <a href="javascript:void(0);" v-on:click="onclickPop('vpcModal');" class="com-btn btn-s" style="width: 150px;">VPC 생성</a>
                        </span>
                    </li>
                    <li class="w-100 bdr-b pb-20" style="display: none;">
                        <span class="join-input-group">
                            <label>Subnet<span>*</span></label>
                            <div class="custom-select" name="subnetDiv">
                                <select id="subnetNo" v-model="saveInfo.subnetNo" ref="subnetNo" onchange="selectedChange(id)">
                                    <option value="">Subnet을 선택하세요</option>
                                    <option v-for="option in subnetList" v-bind:value="option.subnetNo">{{option.subnetName}} | {{option.subnet}} | {{option.subnetType.codeName}}</option>
                                </select>
                            </div>
                        </span>
                        <span class="join-input-group">
                            <label><span></span></label>
                            <a href="javascript:void(0);" v-on:click="onclickPop('subnetModal');" class="com-btn btn-s" style="width: 150px;">Subnet 생성</a>
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group w-100">
                            <label>스토리지<span>*</span></label>
                            <span class="radio-wrap join-radio bdr-b">
                                <input type="radio" id="storage_op1" value="SSD" v-model="saveInfo.storageType" ref="storageType" name="storage" v-bind:checked="envInstanceInfo.storageType === 'SSD'" />
                                <label for="storage_op1"><span></span>SSD</label>
                                <input type="radio" id="storage_op2" value="HDD" v-model="saveInfo.storageType" ref="storageType" name="storage" v-bind:checked="envInstanceInfo.storageType === 'HDD'" />
                                <label for="storage_op2"><span></span>HDD</label>
                            </span>
                        </span>
                    </li>
                    <li class="bdr-b pb-20">
                        <span class="join-input-group w-100">
                            <label>서버 스펙<span>*</span></label>
                                <div class="custom-select" name="serverProductDiv" style="width: 740px;">
                                    <select id="productCode" v-model="saveInfo.productCode" ref="productCode" onchange="selectedChange(id)">
                                        <option value="">서버 스펙을 선택하세요</option>
                                        <option v-for="option in serverProductList" v-bind:value="option.productCode">{{option.productDescription}} || {{option.productType.codeName}}</option>
                                    </select>
                                </div>
                        </span>
                    </li>
                    <li class="pb-20" style="display: none;">
                        <span class="join-input-group w-100">
                            <label>Network Interface<span>*</span><span style="font-size: small;font-weight: normal">(최대 3개까지 추가 가능합니다)</span></label>
                        </span>
                        <span class="join-input-group mr-10 w-200">
                            <label style="font-weight: normal;">디바이스</label>
                            <input type="text"  style="width: 200px;" v-bind:value="['eth' + networkInterfaceList.length]" readonly >
                        </span>
                        <span class="join-input-group mr-10 w-200">
                            <label style="font-weight: normal;">Network Interface</label>
                            <div class="custom-select" style="width: 200px;" name="networkInterfaceDiv">
<!--                                <select id="networkInterfaceNo" ref="networkInterfaceNo" v-model="newNetworkInterface.interface" style="width: 200px;" data-value="" onchange="selectedChange(id)">-->
                                <select id="networkInterfaceNo" ref="networkInterfaceNo"  style="width: 200px;" data-value="" onchange="selectedChange(id)">
                                    <option value="">new interface</option>
                                    <option v-for="option in networkInterfaceCbList" v-bind:value="option.networkInterfaceNo">{{option.networkInterfaceName}}</option>
                                </select>
                            </div>
                        </span>
                        <span class="join-input-group mr-10 w-332">
                            <label style="font-weight: normal;">Subnet</label>
                            <input type="text" style="width: 344px;" v-model="newNetworkInterface.subnetName" readonly>
                            <input type="hidden" style="width: 344px;" v-model="newNetworkInterface.subnetNo" readonly>
                        </span>
                        <span class="join-input-group mr-10 w-200">
                            <label style="font-weight: normal;">IP</label>
                            <input type="text" style="width: 200px;" v-model="newNetworkInterface.ip" readonly>
                        </span>
                        <span class="join-input-group" style="width: 150px;">
                            <label><span></span></label>
                            <a href="javascript:void(0);" v-on:click="onclickIFAdd" class="com-btn btn-s" style="width: 150px;">추가</a>
                        </span>
                    </li>
                    <!-- Network Interface 추가영역 -->
                    <div class="bdr-b pb-20">
                        <li v-for="(item, idx) in networkInterfaceList">
                            <span class="join-input-group mr-10 w-200">
                                <label></label>
                                <input type="text"  style="width: 200px;" v-bind:value="['eth' + idx]" readonly >
                                <input type="hidden"  style="width: 200px;" v-bind:value="item.networkInterfaceOrder"  readonly >
                            </span>
                            <span class="join-input-group mr-10 w-200">
                                <label></label>
                                <input type="text"  style="width: 200px;" v-bind:value="item.networkInterfaceName" readonly >
                                <input type="hidden"  style="width: 200px;" v-bind:value="item.networkInterfaceNo" readonly >
                            </span>
                            <span class="join-input-group mr-10 w-332">
                                <label></label>
                                <input type="text" style="width: 344px;" v-bind:value="item.subnetName" readonly >
                            </span>
                            <span class="join-input-group mr-10 w-200">
                                <label></label>
                                <input type="text"  style="width: 200px;" v-bind:value="item.ip" readonly >
                            </span>
                            <span class="join-input-group" style="width: 150px;">
                                <label></label>
                                <a href="javascript:void(0);" v-on:click="onclickIFDel(idx)" class="com-btn btn-s" style="width: 150px;">삭제</a>
                            </span>
                        </li>
                    </div>
                    <!-- Network Interface 추가영역 끝-->
                    <li style="display: none;">
                        <span class="join-input-group w-100">
                            <label>공인IP<span>*</span><span style="font-size: small;font-weight: normal">(서버 생성시 공인IP를 함께 생성하시려면 Subnet 타입은 Public Subnet이어야 합니다)</span></label>
                            <span class="radio-wrap join-radio bdr-b">
                                <input type="radio" id="associateWithPublicIp_op1" value="true" v-model="saveInfo.associateWithPublicIp" />
                                <label for="associateWithPublicIp_op1"><span></span>예</label>
                                <input type="radio" id="associateWithPublicIp_op2" value="false" v-model="saveInfo.associateWithPublicIp" />
                                <label for="associateWithPublicIp_op2"><span></span>아니오</label>
                            </span>
                        </span>
                    </li>
                    <li class="bdr-b pb-20">
                        <span class="join-input-group w-100">
                            <label>서버 설명</label>
                            <input class="w-100" type="text" ref="dataName" v-model="envInstanceInfo.serverDescription" placeholder="서버 설명을 입력하세요">
                        </span>
                    </li>

                    <li style="display: none;">
                        <span class="join-input-group w-100">
                            <label>인증키 설정</label>
                            <span class="radio-wrap join-radio">
                                <input type="radio" id="key_op1" value="Y" name="key" checked @change="onChangeKey('Y')" />
                                <label for="key_op1"><span></span>보유하고 있는 인증키 이용</label>
                                <input type="radio" id="key_op2" value="N" name="key"  @change="onChangeKey('N')"/>
                                <label for="key_op2"><span></span>새로운 인증키 생성</label>
                            </span>
                        </span>
                    </li>

                    <li class="bdr-b pb-20" id="loginKeyY" style="display: none;">
                        <span class="join-input-group mr-30 w-84" >
                            <label style="font-weight: normal;">인증키 선택</label>
                        </span>
                        <span class="join-input-group">
                            <div class="custom-select" name="loginKeyDiv">
                                <select id="loginKey" v-model="loginKey" onchange="selectedChange(id)" style="width: 744px;">
                                    <option value="">인증키를 선택하세요</option>
                                    <option v-for="option in loginKeyList" v-bind:value="option.keyName">{{option.keyName}}</option>
                                </select>
                            </div>
                        </span>
                    </li>
                    <li class="bdr-b pb-20" id="loginKeyN" style="display: none">
                        <span class="join-input-group mr-30 w-84">
                            <label style="font-weight: normal;">인증키 이름</label>
                        </span>
                        <span class="join-input-group">
                            <input type="text" v-model="createLoginKey.keyName" ref="keyName" @keyup="onKeyupLoginKey" style="width:430px;" placeholder="최소 3글자, 최대 30자">
                            <a href="javascript:void(0);" v-on:click="onclickLoginKeyCreate" class="com-btn btn-s" style="width: 150px;">인증키 생성 및 저장</a>
                            <label style="margin-top:0px;">
                                <span v-show="loginKeyChk1" class="join-txt-red" style="font-size: 1.3rem;">최소 3글자 이상, 최대 30자까지만 입력이 가능합니다.</span>
                            </label>
                        </span>
                    </li>

                    <li class="bdr-b pb-20">
                        <span class="join-input-group" style="width: 280px;" >
                            <label>사용 일수<span>*</span></label>
                            <span class="join-input-group" style="width: 230px;">
                                <input style="width:220px;" type="number"  v-model="usingDays"  @input="onInputUsingDays" placeholder="사용 일수를 입력하세요">
                            </span>
                            <span class="join-input-group" style="width:50px;padding-top:15px;">
                                <label style="font-weight: normal;">일</label>
                            </span>
                        </span>
                        <span class="join-input-group ">
                            <label><span></span></label>
                            <span class="radio-wrap join-radio" style="padding-top:10px;">
                                <input type="radio" id="rdoUsingDaysMax" value="Y" v-model="usingDaysMax" @change="onChangeUsingDays('Y')" />
                                <label for="rdoUsingDaysMax"><span></span>무기한</label>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="btn-box a-r mt-60">
                <a href="#" class="com-btn btn-line-bl btn-w-332" v-on:click="onclickCancel">목록</a>
                <a href="#" class="com-btn btn-w-332" v-on:click="onclickCreateSave">신청</a>
            </div>
        </div>

    </script>
</div>
</html>
