<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/defaultLayout">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/instance/envInstanceReqS.js}"></script>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
</th:block>

<div class="member-container" layout:fragment="contents">
    <div id="maincontentswrap" >
        <maincontents ref="maincontents"></maincontents>
    </div>

    <script type="text/x-template" id="main-template" >
        <div class="content" >
            <div class="sub-title-box">
                <h2>학습환경 사용신청</h2>
                <!--                <p>Application for storage of disease data</p>-->
                <hr>
            </div>

            <div class="join-cont-box clearfix">
                <h3>신청자 정보</h3>
                <ul class="com-ul">
                    <li>
                        <span class="join-input-group mr-40">
                            <label>신청자명</label>
                            <input type="text" v-bind:value="userInfo.userName" readonly>
                        </span>
                        <span class="join-input-group">
                            <label>기업명</label>
                            <input type="text" v-bind:value="userInfo.agencyInfo.agencyName" readonly>
                        </span>
                    </li>
                    <li>
                        <span class="join-input-group mr-40">
                            <label>연락처</label>
                            <input type="text" v-bind:value="userInfo.userPhoneNumber" readonly>
                        </span>
                        <span class="join-input-group">
                            <label>이메일</label>
                            <input type="text" v-bind:value="userInfo.userEmail" readonly>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="join-cont-box">
                <h3>신청 정보</h3>
                <span class="join-txt-caution">* 필수 입력 항목</span>
                <ul class="com-ul">
                    <li>
                        <span class="join-input-group w-100">
                            <label>운영체제<span>*</span></label>
                            <span class="radio-wrap join-radio bdr-b">
                                <span v-for="(item, idx) in osImageTypeCdList">
                                    <input type="radio" v-bind:id="['osImage_op' + idx]" @change="onChangeOsImage(item.productCode)" v-bind:value="item.name"  v-model="saveInfo.osImageType"/>
                                    <label v-bind:for="['osImage_op' + idx]"><span></span>{{item.desc}}</label>
                                </span>
                            </span>
                        </span>
                    </li>

                    <li>
                        <span class="join-input-group w-100">
                            <label>서버타입<span>*</span></label>
                            <span class="radio-wrap join-radio bdr-b">
                                <span v-for="(item, idx) in productTypeCdList">
                                    <input type="radio" v-bind:id="['productType_op' + idx]" @change="onChangeProduct(item.name)" v-bind:value="item.name" v-model="saveInfo.productType"/>
                                    <label v-bind:for="['productType_op' + idx]"><span></span>{{item.desc}}</label>
                                </span>
                            </span>
                        </span>
                    </li>

                    <li>
                        <span class="join-input-group w-100">
                            <label>스토리지<span>*</span></label>
                            <span class="radio-wrap join-radio bdr-b">
                                <input type="radio" id="storage_op1" value="SSD" v-model="saveInfo.storageType" ref="storageType" name="storage" @change="onChangeStorage('SSD')" v-bind:checked="saveInfo.storageType === 'SSD'" />
                                <label for="storage_op1"><span></span>SSD</label>
                                <input type="radio" id="storage_op2" value="HDD" v-model="saveInfo.storageType" ref="storageType" name="storage" @change="onChangeStorage('HDD')" v-bind:checked="saveInfo.storageType === 'HDD'" />
                                <label for="storage_op2"><span></span>HDD</label>
                            </span>
                        </span>
                    </li>
                    <li class="bdr-b pb-20">
                        <span class="join-input-group w-100">
                            <label>서버 스펙<span>*</span></label>
                                <div class="custom-select" name="serverProductDiv" style="width: 740px;">
                                    <select id="productCode" v-model="saveInfo.productCode" ref="productCode" onchange="selectedChange(id)">
                                        <option value="">서버 스펙을 선택하세요</option>
                                        <option v-for="option in serverProductList" v-bind:value="option.productCode">{{option.productDescription}} || {{option.productType.codeName}}</option>
                                    </select>
                                </div>
                        </span>
                    </li>

                    <li class="bdr-b pb-20">
                        <span class="join-input-group w-100">
                            <label>서버 설명</label>
                            <input class="w-100" type="text" ref="dataName" v-model="saveInfo.serverDescription" placeholder="서버 설명을 입력하세요">
                        </span>
                    </li>

                    <li class="bdr-b pb-20">
                        <span class="join-input-group" style="width: 280px;" >
                            <label>사용 일수<span>*</span></label>
                            <span class="join-input-group" style="width: 230px;">
                                <input style="width:220px;" type="number"  v-model="usingDays"  @input="onInputUsingDays" placeholder="사용 일수를 입력하세요">
                            </span>
                            <span class="join-input-group" style="width:50px;padding-top:15px;">
                                <label style="font-weight: normal;">일</label>
                            </span>
                        </span>
                        <span class="join-input-group ">
                            <label><span></span></label>
                            <span class="radio-wrap join-radio" style="padding-top:10px;">
                                <input type="radio" id="rdoUsingDaysMax" value="Y" v-model="usingDaysMax" @change="onChangeUsingDays('Y')" />
                                <label for="rdoUsingDaysMax"><span></span>무기한</label>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="btn-box a-r mt-60">
                <a href="#" class="com-btn btn-line-bl btn-w-332" v-on:click="onclickCancel">목록</a>
                <a href="#" class="com-btn btn-w-332" v-on:click="onclickCreateSave">신청</a>
            </div>
        </div>

    </script>
</div>
</html>
