<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div>
    <script th:src="@{/js/instance/popVpc.js}"></script>
    <div id="popupwrapvpc" >
        <popupvpc ref="popupvpc"></popupvpc>
    </div>

    <script type="text/x-template" id="popup-template-vpc" >
        <div class="content" >
            <div id="vpcModal" class="common-popup">
                <div class="common-popup-content" style="width: 920px;">
                    <h3>VPC 생성</h3>
                    <div class="join-cont-box">
                        <h4>신청 정보</h4>
                        <span class="join-txt-caution">* 필수 입력 항목</span>
                        <ul class="com-ul">
                            <li class="bdr-b">
                                <span class="join-input-group w-100">
                                    <label>VPC 이름<span>*</span></label>
                                    <input class="w-100" type="text" ref="vpcName" v-model="saveInfo.vpcName" @keyup="onKeyupName" placeholder="최소 3글자, 최대 30자, 알파벳 문자로 시작해야 하며, 소문자, 숫자, 특수문자(-)만 입력 가능합니다">
                                    <label style="margin-top:0px;">
                                        <span v-show="vpcNameChk1" class="join-txt-red" style="font-size: 1.3rem;">최소 3글자 이상, 최대 30자까지만 입력이 가능합니다.</span>
                                        <span v-show="vpcNameChk2" class="join-txt-red" style="font-size: 1.3rem;">소문자, 숫자,"-"의 특수문자만 허용하며 알파벳 문자로 시작해야 합니다.</span>
                                        <span v-show="vpcNameChk3" class="join-txt-red" style="font-size: 1.3rem;">영어 또는 숫자로 끝나야 합니다.</span>
                                    </label>
                                </span>
                            </li>
                            <li class="bdr-b">
                                <span class="join-input-group w-100">
                                    <label>IP 주소 범위<span>*</span></label>
                                    <input class="w-100" type="text" ref="ipv4CidrBlock" v-model="saveInfo.ipv4CidrBlock"  @keyup="onKeyupIp" placeholder="IP주소 범위를 입력하세요">
                                    <label style="margin-top:0px;"><span class="join-txt-red" style="font-size: 1.3rem;">VPC의 IP주소 범위는, private 대역(10.0.0.0/8,172.16.0.0/12, 192.168.0.0/16) 내에서 /16~/28 범위여야 합니다.</span></label>
                                     <label style="margin-top:0px;">
                                        <span v-show="ipChk1" class="join-txt-red" style="font-size: 1.3rem;">잘못된 형식입니다.</span>
                                    </label>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-box a-r mt-60">
                        <a href="#" class="com-btn btn-line-bl btn-w-208" onclick="fnClosePopup('vpcModal')">취소</a>
                        <a href="#" class="com-btn btn-w-208 ml-10" v-on:click="onclickCreateSave">생성</a>
                    </div>
                </div>

            </div>
        </div>
    </script>
</div>
</html>